@import 'tailwindcss';

@theme inline {
  --color-primary: #68a59d;
  --color-primary-hover: #57938b;
  --color-border: #437a79;

  --color-background: #fffefe;

  --font-dahab: 'DahabArabic';
}

@font-face {
  font-family: 'DahabArabic';
  src: url('/fonts/DahabArabic/DahabArabicITF-Regular.otf') format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: 'DahabArabic';
  src: url('/fonts/DahabArabic/DahabArabicITF-Bold.otf') format('opentype');
  font-weight: 700;
}

@font-face {
  font-family: 'DahabArabic';
  src: url('/fonts/DahabArabic/DahabArabicITF-ExtraBold.otf') format('opentype');
  font-weight: 800;
}

body {
  @apply bg-background;
}
